/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7fa;
    color: #5e6977;
    font-size: 15px;
}

/* Container */
.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar styling */
.sidebar {
    width: 240px;
    background-color: #00237e;
    padding: 20px;
}

.sidebar a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    display: block;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: #007ae0;
}

/* Main content area */
.main-content {
    flex-grow: 1;
    background-color: #f4f7fa;
    padding: 20px;
}

.header {
    background-color: #014aaa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

/* Content Cards */
.card {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #233246;
}

.card-content {
    font-size: 16px;
}

/* Utility classes */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mb-20 {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}

.ESM h1 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: white;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    max-width: 300px; /* Adjust the max-width as needed */
    margin: 0; /* Center the form horizontally */
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    margin-top: 10px;
}
